body {
    font-family: Arial, sans-serif;
    background-color: #f6f9fc;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-center-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms-wrapper {
    display: flex;
    gap: 40px; 
    justify-content: center;
    align-items: flex-start;
}

.form-box {
    background: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form-box h2 {
    color: #2c3e50;
    margin-bottom: 20px;
    border-left: 4px solid #3498db;
    padding-left: 8px;
}

label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
    color: #2c3e50;
}

input[type="text"],
input[type="password"],
select {
    width: 40vw;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

input:focus, select:focus {
    border: 1px solid #3498db;
    outline: none;
}

button {
    width: 10;
    padding: 12px;
    background: #3498db;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 5px;
}

button:hover {
    background: #1b73ad;
}

p {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}